html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

@font-face {font-family: Visitor; src: url("../res/visitor1.ttf"); }

#canvas {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#twitter {
    text-align: center;
}

#description {
    text-align: center;
    color : #555;
    font : 25px Visitor;
}

span a {
    color : #59B;
}